<%= pollData.title %><br>
<%= pollData.question %><br><br>

<%  pollData.responses.forEach(function (response) { %>
    <%= response %>
    <span id="">: 0</span>
    <br>
<%  }) %><br>

<%- link_to('User Poll URL', pollData.voterUrl) %>
