<%= pollData.title %><br>
<%= pollData.question %><br><br>

<form action="#">

<%  pollData.responses.forEach(function (response) { %>
    <%= response %>
    <input type="checkbox" id="test5" />
    <br>
<%  }) %>
  <br><br>
  <button id="submit-poll" class="btn waves-effect waves-light" type="button" name="action">Submit Poll
  </button>
</form>
