<%= pollData.title %><br>
<%= pollData.question %><br><br>

<%  pollData.responses.forEach(function (response) { %>
    <div id="responses">
      <button><%= response %></button>
    </div>
    <br>
<%  }) %>

<script src="/jquery.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/application.js"></script>
<script src="/vote.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js"></script>
