i {
  cursor: pointer;
}

body {
  text-align: center;
  font-family: monospace;
  margin-top: 5%;
}

.poll-form {
  width: 60%;
}

.admin-poll {
  width: 60%;
}

.vote-poll {
  width: 60%;
}

button {
  margin-bottom: 2%;
}

#poll-title {
  text-decoration: underline;
}

#vote-closed {
  color: #4CAF50;
}

#poll-closed {
  color: red;
}
